@import url("https://fonts.googleapis.com/css2? family= Montserrat:wght@200;600 & display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.mainIndex {
  padding: 25px;
  background-color: #dbc59c;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .mainIndex img {
    width: 50%; }
  .mainIndex .cardUno {
    margin: 20px;
    width: 50%; }
  .mainIndex .CardDos {
    width: 70%; }
  .mainIndex__button {
    background-color: #bda86e;
    color: beige; }

@media (min-width: 550px) {
  .mainIndex {
    flex-direction: row; } }

header {
  background-color: black;
  color: aliceblue;
  padding: 15px; }
  header li {
    font-family: "Montserrat", sans-serif; }
  header ul {
    padding: 10px;
    display: flex;
    justify-content: space-evenly; }
  header h1 {
    padding: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif; }
  header img {
    width: 100%; }

footer {
  background-color: #b57629;
  height: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  footer ul {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center; }
