* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

header {
  background-color: black;
  color: aliceblue;
  padding: 15px; }
  header li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  header ul {
    padding: 10px;
    display: flex;
    justify-content: space-evenly; }
  header h1 {
    padding: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  header img {
    width: 100%; }

.mainIndex {
  padding: 25px;
  background-color: #b78e62;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  height: 350px;
  display: flex; }
  .mainIndex img {
    width: 50%; }

footer {
  background-color: #b57629;
  height: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  footer ul {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center; }
