@import './Variables/extend';
@import './Variables/typo';
@import './Variables/colores';

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* @import './Variables/extend';
@import './Variables/typo';
@import './Variables/colores'; */

@import './secciones/_mainIndex';
@import './secciones/header';
@import './secciones/footer';



