.mainIndex{
    padding: 25px;
   
    text-align: center;
    display: flex;
    flex-direction: column;
    @extend %estiloPrincipal;

    }

    img{
        width: 50%;
    }
    .cardUno{
        margin: 20px;
        width: 50% ;
    
    }
    .CardDos{width: 50% + 20%;
    }
    &__p{
        @include formatoTexto;
    }
    
    &__button{
        background-color: rgb(189, 168, 110);
        color: beige;
    }



@media (min-width: 550px){
    .mainIndex{
        flex-direction: row;
    }
}
